body, h1, input, option {font: 75% verdana,geneva,lucida,arial,sans-serif;}
h1 {font-size: 150%; letter-spacing: 2px;}
input, option {font-size: 100%;}
input {border: 1px solid #000; padding: 3px; vertical-align: middle;}
h1, form {margin: 0;}
form ul {list-style: none; margin: 0; padding: 0;}
form li {margin: 1em 0;}
label {text-align: right; font-weight: bold; background: #eee; color: #000; padding: 3px; display: block; float: left; width: 11em; margin-right: 3px;}
#errors {color: red; margin: 20px 0;}