body {font: 75%/1.3 verdana,geneva,lucida,arial,sans-serif;}
table {border-collapse: collapse; border-spacing: 0; width: 800px;}
td, th {border: 1px solid #000; padding: 1em;}
tbody th {text-align: left;}
caption {font-size: 130%; padding: .5em;}
input[type="submit"] {cursor: pointer;}
#save {width: 800px; text-align: center;}
.action {text-align: center;}
.nonBillable th, .nonBillable td {background: #eee;}